/* место для вашего кода */

.header{
    display: grid;
    width: 1052px;
    grid-template-columns: repeat(3, 1fr);
    margin:92px 24px;
    column-gap: 25px;
    border: 1px white solid;
}

.header__menu{
    grid-column: 1/span 1;
    
}

.header__links-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 44px;
    margin-left: 25px;
    list-style: circle;
    font-size: 18px;
    gap: 30px;
    white-space: nowrap;
    font-weight: 400;
}

.header__links-list-item{
    letter-spacing: 0.3px;
    text-decoration: underline;
    text-underline-offset: 4px;
    
    
}

.header__links-list-item_no-bullit{
    list-style: none;
    letter-spacing: 0.3px;
}

.header__logo{
    display:block;
    width: 160px;
    height: 105px;
    grid-column: 2/span 1;
}

.header__logo-image{
    width: 100%;
    height: 100%;
    display: block; 
    padding-left:5px;
   
}

.address{
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-column:3/span 1;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 25px;
    white-space: nowrap;
}

.address__links{
    text-decoration: underline;
    letter-spacing: 0.25px;
    margin-left: 2px;
    text-underline-offset: 4px;
    font-style: normal;
}

.address__links_no-underline{
    font-style: normal;
    letter-spacing: 0.1px;
    line-height: 24.3px;
    margin-left: 2px;
}